einops==0.4.1
h5py==3.1.0
imgaug==0.4.0
matplotlib==3.3.4
MedPy==0.4.0
numpy==1.19.5
pandas==1.1.5
PyYAML==6.0
scipy==1.5.4
SimpleITK==2.2.1
tensorboardX==2.5.1
torch==1.8.0
torchinfo==1.5.4
torchvision==0.2.2
tqdm==4.64.0
yacs==0.1.8
